@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-texto-destaque: orangered;
  --color-fonte-principal: black;
  --color-cards: #ff4500e3;
  --color-fonte-cards: #fff;
  --color-header: rgba(7, 7, 7, 0.253);
  --color-cards-hover: rgb(39, 135, 224);
  --color-fundo-banner: rgb(70, 206, 70);
}

* {
  /* defina apenas o essencial aqui, os demais atributos faça direto nas classes de cada componente que você criar. */
  box-shadow: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  transition: 0.2s linear;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 80vw;
  height: 5rem;
  background-color: var(--color-header);
  border-radius: 0.7rem;
  margin-top: 1.1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.logomarca {
  margin-left: 2rem;
  text-decoration: none;
  font-size: calc(1.1rem + 1vw);
}

.cta-header {
  margin-right: 2rem;
  text-decoration: none;
  font-weight: 400;
  font-size: calc(1.1rem + 1vw);
}
.cta-header:hover {
  font-weight: 500;
}

main {
  width: 80vw;
  height: auto;
  /* background-color: black; */
  margin-top: 1.1rem;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 12rem;
  background-color: var(--color-cards);
  color: var(--color-fonte-principal);
  font-size: calc(0.4rem + 1vw);
}

.titulo {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  font-size: calc(1.1rem + 1vw);
}

.stacks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2vw;
  margin-bottom: 2rem;
}

.card-stack {
  width: 21.1rem;
  height: 21.1rem;
  background-color: var(--color-cards);
  color: var(--color-fonte-cards);
  border-radius: 0.7rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-stack:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--color-cards-hover);
  font-weight: 500;
}

.texto-destaque {
  background-color: var(--color-texto-destaque);
  padding: 0.4rem;
  border-radius: 0.4rem;
}
.texto {
  font-size: calc(1.1rem + 1vw);
}

.conteudo-texto {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cta-banner-central {
  text-decoration: none;
}

.banner-central {
  width: 100%;
  height: 32rem;
  border-radius: 1.1rem;
  background-color: var(--color-fundo-banner);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--color-fonte-principal);
  margin-bottom: 2rem;
}

.contatos {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.contatos-p1,
.contatos-p2 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(1.1rem + 1vw);
}

.logo-contato {
  text-decoration: none;
}
/* Aplica o css até atingir a dimensão 768px */
@media screen and (max-width: 768px) {
  .card-stack {
    width: 100%;
  }

  .titulo,
  .cta-header,
  .logomarca {
    font-size: 1.1rem;
  }

  .texto-destaque {
    padding: 0.2rem;
    border-radius: 0.2rem;
  }
  .contatos {
    flex-direction: column;
    gap: 2rem;
  }
}
